.root{
    position: relative;
    left: -120px;
}


.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 42px;
    transition: all 0.15s ease-in-out;

    &:focus{
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 400px;
    }
}

.icon{
    width: 22px;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    left: 14px;
    top: 12px;
}

